Flask==1.1.2	
Jinja2==2.11.2	
MarkupSafe==1.1.1	
Werkzeug==1.0.1
atomicwrites==1.4.0	
attrs==20.2.0
click==7.1.2	
colorama==0.4.4
iniconfig==1.1.1
itsdangerous==1.1.0	
more-itertools==8.5.0
packaging==20.4	
pip==20.2.4
pluggy==0.13.1	
py==1.9.0	
pyparsing==2.4.7	
pytest==6.1.1
setuptools==50.3.2
six==1.15.0	
toml==0.10.1	