# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Matthew\Documents\University Work\2020\Semester 2\Compsci 235\Assignments\CS235FlixSkeleton-master\datafilereaders\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
